@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-weight: 700;
}

.primary-color,
.primary-btn {
    background-color: #1090D8;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.primary-btn {
    padding: 1rem 3rem;
    border-radius: 8px;
}

input {
    background-color: #F1F1F1;
    border-radius: 4px;
}

/* aside style */
#calculation-section {
    width: 12em;
    height: 23em;
    margin-right: 10px;
}

@media only screen and (max-width:576px) {
    .primary-btn {
        padding: 0.5rem 1rem;
        border-radius: 8px;
    }

    #calculation-section {
        margin-top: 30px;
    }
}

/* @media only screen  and(min-width:577px){
    
} */